<footer class="footer">
    <div class="container">
        <div class="row" id="footer-row">

            <div id="footer-1" class="col-md-3 col-lg-3 col-sm-6 col-xs-12">

                <div id="footer-logo">
                    <img src="img/logo.png" alt="">
                </div>
                <div id="footer-address">
                    ул. Малиновского 27/23
                </div>
                <div id="footer-tel" style="color: red">
                    8 (063) 234 43 36
                </div>
                <div id="footer-mail">
                    <a href="mailto:antonnpavl@gmail.com" id="footer-mail-ref">antonnpavl@gmail.com</a>
                </div>
                <div id="footer-socials">
                    <img src="img/credit-cards.png" alt="">
                </div>

            </div>

            <div id="footer-2" class="col-md-3 col-lg-3 visible-md visible-lg">
                <h1 class="footer-h">Рубрики</h1>
                <ul>
                    <li><a href="#" class="footer-categories">Видео</a></li>
                    <li><a href="#" class="footer-categories">Герои</a></li>
                    <li><a href="#" class="footer-categories">Естественный Отбор</a></li>
                    <li><a href="#" class="footer-categories">Коктейль</a></li>
                    <li><a href="#" class="footer-categories">Культура</a></li>
                    <li><a href="#" class="footer-categories">Музыка</a></li>
                    <li><a href="#" class="footer-categories">Наука</a></li>
                    <li><a href="#" class="footer-categories">Новости Магазина</a></li>
                    <li><a href="#" class="footer-categories">Путешествия</a></li>
                    <li><a href="#" class="footer-categories">Стиль</a></li>
                    <li><a href="#" class="footer-categories">Фото</a></li>
                </ul>
            </div>

            <div id="footer-3" class="col-md-3 col-lg-3 visible-md visible-lg">
                <h1 class="footer-h">Информация</h1>
                <ul>
                    <li><a href="#" class="footer-categories">О Нас</a></li>
                    <li><a href="#" class="footer-categories">Доставка</a></li>
                    <li><a href="#" class="footer-categories">Оплата</a></li>
                    <li><a href="#" class="footer-categories">Возврат товра</a></li>
                    <li><a href="#" class="footer-categories">Таблица размеров</a></li>
                </ul>
            </div>

            <div id="footer-4" class="col-md-3 col-lg-3 col-sm-6 hidden-xs">
                <h1 class="footer-h">Подписаться на рассылку</h1>
                <form method="post" id="contact-form">
                    <div class="form-group has-feedback">
                        <div class="input-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Ваш email адрес">
                        </div>
                        <p>
                            <input type="submit" id="submit-email" value="Подписаться">
                        </p>
                    </div>
                </form>
            </div>

        </div>
    </div>
</footer>