        <div class="header container-fluid" id="main-header">
            <div class="header__row row">
                <div class="logo col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <a href="index.html"><img src="img/logo.png" alt="Logo" title="KAPKAN"></a>
                </div>
                <div class="navigation col-lg-11 col-md-11">
                    <ul class="navigation__ul">
                        <li class="menu-item-list" id="menu-item-1"><a class="menu-ref" href="#">Новинки</a></li>
                        <li class="menu-item-list" id="menu-item-2"><a class="menu-ref" href="#">Бренды</a></li>
                        <li class="dropdown menu-item-list " id="menu-item-3">
                            <a class="deopdown-toggle menu-ref" data-toggle="dropdown" href="#">Одежда<span class="glyphicon glyphicon-chevron-down"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="submenu-ref" href="#">Куртки</a></li>
                                <li><a class="submenu-ref" href="#">Толстовки</a></li>
                                <li><a class="submenu-ref" href="#">Рубашки</a></li>
                                <li><a class="submenu-ref" href="#">Джинсы</a></li>
                                <li><a class="submenu-ref" href="#">Брюки</a></li>
                                <li><a class="submenu-ref" href="#">Футболки</a></li>
                                <li><a class="submenu-ref" href="#">Поло</a></li>
                                <li><a class="submenu-ref" href="#">Лонгсливы</a></li>
                                <li><a class="submenu-ref" href="#">Жилеты</a></li>
                                <li><a class="submenu-ref" href="#">Майки</a></li>
                                <li><a class="submenu-ref" href="#">Шорты</a></li>
                            </ul>
                        </li>
                        <li class="dropdown menu-item-list" id="menu-item-4">
                            <a class="dropdown-toggle menu-ref" data-toggle="dropdown" href="#">Обувь<span class="glyphicon glyphicon-chevron-down"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="submenu-ref" href="#">Кросовки</a></li>
                                <li><a class="submenu-ref" href="#">Кеды</a></li>
                                <li><a class="submenu-ref" href="#">Ботинки</a></li>
                            </ul>
                        </li>
                        <li class="dropdown menu-item-list" id="menu-item-5">
                            <a class="deopdown-toggle menu-ref" data-toggle="dropdown" href="#">Акссесуары<span class="glyphicon glyphicon-chevron-down"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="submenu-ref" href="#">Сумки/рюкзаки</a></li>
                                <li><a class="submenu-ref" href="#">Сумки на пояс</a></li>
                                <li><a class="submenu-ref" href="#">Кепки</a></li>
                                <li><a class="submenu-ref" href="#">Шапки</a></li>
                                <li><a class="submenu-ref" href="#">Панамы</a></li>
                                <li><a class="submenu-ref" href="#">Носки</a></li>
                                <li><a class="submenu-ref" href="#">Ремни</a></li>
                                <li><a class="submenu-ref" href="#">Кошельки</a></li>
                                <li><a class="submenu-ref" href="#">Книги/журналы</a></li>
                                <li><a class="submenu-ref" href="#">Шарфы</a></li>
                                <li><a class="submenu-ref" href="#">Скетчбуки</a></li>
                                <li><a class="submenu-ref" href="#">Очки</a></li>
                                <li><a class="submenu-ref" href="#">Часы</a></li>
                                <li><a class="submenu-ref" href="#">Другое</a></li>
                            </ul>
                        </li>
                        <li class="dropdown menu-item-list" id="menu-item-6">
                            <a class="deopdown-toggle menu-ref" data-toggle="dropdown" href="#">Музыка<span class="glyphicon glyphicon-chevron-down"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="submenu-ref" href="#">Мерч</a></li>
                                <li><a class="submenu-ref" href="#">Винил</a></li>
                                <li><a class="submenu-ref" href="#">Кассеты</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-list" id="menu-item-7"><a class="menu-ref" href="#" style="color: red">Распродажа</a></li>
                        <li class="menu-item-list" id="menu-item-8"><a class="menu-ref" href="#">Блог</a></li>
                        <li class="menu-item-list" id="menu-item-9"><a class="menu-ref" href="#">Контакты</a></li>
                    </ul>
                    <!--
                    <a href="#"><img class="shopping-cart-icon" src="icons/shopping-cart-star.svg" alt="Shopping-cart"></a>-->
                    <div id="my-menu-icon">
                        <a href="#" data-toggle="#wrap" id="mobile-menu-toggle"><img src="icons/menu53.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>