<div class="modal fade" id="modal-1" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close close-modal" type="button" data-dismiss="modal">
                    <img src="icons/modal-close.svg" style="width: 24px; height: auto;" alt="">
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>